/* .rectgreen{
	width: 200px;
	height: 200px;
	border: 1px solid;
  background: green;
  margin-left: auto;
  margin-right: auto;
}

.rectblue{
  width: 300px;
	border: 1px solid;
  background: blue;
  margin-left: auto;
  margin-right: auto;
} */

h1 {
  color: brown;
  background-color: lightblue;
  width: 450px;
  /* height: 80px; */
  border-left : 30px double blue;
  padding: 2px;
  margin : 5px;
}

p{
  color: gray;
  /* background-color: lime; */
  margin : 5px 60px 10px;
}

.title2{
  color: navy;
  background-color: yellow;
  padding-left: 30px;
  margin : 5px 30px 5px;
}

body {
  display: flex;
}

#target7M{
  margin-left: 10px;
}

#target7D{
  margin-left: 10px;
}


.midori{
  color: green}

.ao{
  color: blue}

.aka{
  color: red}

li {
  color: brown;
}
